.container {
    .DefaultProperties {
        width: 100%;
        background-color: #1d1d1e;
        transform-origin: top;
    }

    .CustomScaleCalc {
        position: relative;
        width: 1150px !important;
    }
}
