.container {
    .DefaultProperties {
        width: 100%;
        background-color: rgb(27, 29, 31);
        transform-origin: top;
    }

    .CustomScaleCalc {
        position: relative;
        width: 1150px !important;
    }
}
