.container {
    border: 1px solid rgba(55, 0, 255, 0.395);
    background-color: #181818;
    padding: 20px 30px;
    border-radius: 8px;
    height: 100%;

    .header {
        font-size: 24px;
        margin-bottom: 6px;
        font-weight: 600;
    }
}
