.container {
    /* border: 1px solid red; */

    .mainContents {
        // border: 1px solid red;
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 30px 30px 20px;
        height: 82vh;
        gap: 12px;

        .leftSide {
            display: grid;
            grid-template-rows: 3fr 2fr;
            gap: 12px;
        }

        & div {
            // border: 1px solid blue;
        }
    }
}
