.container {
    /* border: 1px solid red; */

    .mainContents {
        // border: 1px solid red;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 30px 30px 20px;
        // height: 82vh;
        // height: 570px;
        gap: 12px;
        margin: auto;
        max-width: 1600px;

        .leftSide {
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 12px;
        }

        // & div {
        //     border: 1px solid blue;
        // }
    }
}
