@import url("../fonts/Vazirmatn/fonts.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #222; */
    background-color: rgb(27, 29, 31);
    color: rgb(246, 246, 246);
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

::-webkit-scrollbar {
    width: 8px;

    &-track {
        background-color: #232733;
    }

    &-thumb {
        background-color: #606060;
        border-radius: 10px;

        &:hover {
            background-color: #858585;
        }
    }
}
